/*  ALL */

html, body {
    color: white;
    font-family: my-font;            
    background-color: #1e3c6e;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* HEADER */



header {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 999;
    background-image: linear-gradient(#1e3c6e, #1e3c6e);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0.5rem;

}

.social-media {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.media {
    border: transparent;
    background-color: transparent;
    margin: 5%;
    cursor: pointer;
    transition: all 150ms ease-in;
}

.media:hover {
    transform: scale(1.2);
}

.position-info {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.info {
    background-image: linear-gradient(white, white);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: background-size 300ms ease;
    padding: 0.6rem;

    font-family: my-font-B;
    text-decoration: none;

    margin: 2.2rem;
    font-size: 1.2rem;
}

.info:hover {
    cursor: pointer;
    background-size: 100% 3px;
}

.menu {
    display: none;
}

.menu-icon {
    display: none;
}

#menuList {
    display: none;
}

.main_and_history {
    background-color: black;
}

/* MAIN */

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 8rem;
    min-height: 100vh;

    background-image: linear-gradient(#1e3c6e 50%, #2b5398, grey);

}

main h1 {
    position: relative;
    font-family: my-font-B;
    margin-bottom: 2rem;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    border-radius: 30px;
}

input {
    background-color: white;
    color: black;
    border: none;
    margin: 5%;
    padding-inline: 5px;
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    outline: none;
}

textarea {
    background-color: white;
    color: black;
    border: none;
    margin: 5%;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    resize: none;
}


#btn {
    border: none;
    border-radius: 100vmax;

    width: 8rem;
    height: 2rem;
    margin: 5%;

    background-color:#1e3c6e;
    color: white;
    font-size: 1rem;
    font-family: my-font-B;

    transition: all 600ms ease;
}

#btn:hover {
    cursor: pointer;
    background-color: white;
    color: #2b5398;
}

.modal {
    display: none;
}





/* FOOTER */


footer {
    height: 10rem;

    background-color: rgb(88, 88, 88);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .contact {
    position: relative;
    top: 1rem;
}

footer .title {
    margin: 0;
}

footer .email {
    margin: 0;
    color:  rgb(161, 200, 255);
}

footer .email:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer .name {
    position: relative;
    top: 2rem;
    color: antiquewhite;
    margin-top: 1rem;
}


/* ANIMATIONS */

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* SCREEN RESPONSIVE */

@media only screen and (max-width: 800px) {

    /* HEADER */

    .media {
        margin: 1%;
    }

    .position-info {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    header div p:hover {
        text-decoration: underline;
    } 

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
    }

    .menu-icon {
        display: flex;
        justify-content: flex-end;
        margin: 20%;
    }

    #menuList {
        position: absolute;
        top: 99%;
        width: 100%;
        height: 120px;

        background-color: #2b5398;
        justify-content: center;
        align-items: center;
        text-align: right;
        animation: fade-in 700ms ease;
        transition: background-size 500ms ease;
    }

    #menuList p {
        opacity: 0;
        margin-right: 6%;
    }

    #menuList p.menu-one {
        animation: slide-left 1000ms ease 100ms;
        animation-fill-mode: forwards;
    }

    #menuList p.menu-two {
        animation: slide-left 1000ms ease 250ms;
        animation-fill-mode: forwards;
    }

    #menuList p.menu-three {
        animation: slide-left 1000ms ease 400ms;
        animation-fill-mode: forwards;
    }

}

@media screen and (max-width: 400px) {
    /* MAIN */

    main h1 {
        position: relative;
        top: 0rem;
    }

    main form {
        width: 80%;
        background-color: transparent;
    }
}

/* BIG SCREEN */ 

@media only screen and (min-width:800px) {

    .modal {
        display: inline;
        position: absolute;
        left: 100vw;
        top: 20vh;
    
        width: 21%;
        height: 6%;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: 4000ms ease;
    }

    .modal.show {
        transform: translateX(-120%);
    }
    
    .modal img {
        margin: 3%;
    }
    
    .modal p {
        margin: 3%;
    }
    
    #notification {
        color: rgb(148, 217, 148);
        background-color: rgba(30, 183, 30, 0.7);
    }
    
    #warning {
        color: rgb(255, 202, 110);
        background-color: rgb(199, 135, 24);
    }
    
    #emailWarning {
        color: rgb(255, 202, 110);
        background-color: rgb(199, 135, 24);
    }
    
}

@keyframes modal-in {
    0% {
        transform: translateX(0px);
    }
    33% {
        transform: translateX(-120%);
    }
    66% {
        transform: translateX(-120%);
    }
    100% {
        transform: translateX(0px);
    }
}
